@import "tailwindcss";

@font-face {
  font-family: "P22Mackinac";
  src: url("../src/fonts/P22Mackinac-Book.otf") format("opentype");
  font-weight: 400; /* Regular */
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "P22Mackinac";
  src: url("../src/fonts/P22Mackinac-Medium.otf") format("opentype");
  font-weight: 500; /* Medium */
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "RedHatDisplay";
  src: url("../src/fonts/RedHatDisplay-Regular.ttf") format("truetype");
  font-weight: 400; /* Regular */
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "RedHatDisplay";
  src: url("../src/fonts/RedHatDisplay-Bold.ttf") format("truetype");
  font-weight: 700; /* Bold */
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "RedHatDisplay";
  src: url("../src/fonts/RedHatDisplay-Black.ttf") format("truetype");
  font-weight: 900; /* Black */
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Selecta";
  src: url("../src/fonts/Selecta-Light.otf") format("opentype");
  font-weight: 300; /* Light */
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Selecta";
  src: url("../src/fonts/Selecta-Regular_2.ttf") format("truetype");
  font-weight: 400; /* Regular */
  font-style: normal;
  font-display: swap;
}

@theme {
  --color-primary: #5e0000;
  --color-secondary: #cdbeb0;
  --color-blue-avianca: #031a22;

  --font-sans: "RedHatDisplay", ui-sans-serif, system-ui, -apple-system,
    BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans",
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
    "Noto Color Emoji";
}

@layer base {
  html {
    @apply font-sans antialiased;
  }

  body {
    @apply font-normal;
  }

  h1,
  h2 {
    font-family: "P22Mackinac";
  }
}

.page {
  @apply flex flex-col w-full items-center;
  min-height: 100dvh;
}

.expectativa,
.precarga {
  @apply bg-primary;
}

.expectativa h1 {
  font-size: 2.5rem;
  line-height: 2.5rem;
}

.expectativa p {
  font-size: 1rem;
}

.expectativa .ventanasCerradas {
  width: 50rem;
  height: 15rem;
  background-image: url("../src/assets/ventanaSolaCerrada.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.precarga h1 {
  font-size: 2.5rem;
  line-height: 2.5rem;
}

.precarga p {
  font-size: 0rem;
}

.precarga .ventanasCerradas {
  width: 50rem;
  height: 15rem;
  background-image: url("../src/assets/VentanaSolaAbierta.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

nav {
  @apply w-full flex justify-between md:justify-center items-center p-5 bg-primary;
}

footer {
  @apply w-full justify-center items-center bg-blue-avianca p-5;
}

main {
  @apply w-full flex-1 flex flex-col items-center text-start md:text-center  gap-6 px-4;
}

.social-icon {
  @apply bg-white p-2 rounded-full flex justify-center items-center;
}

.social-icon > * {
  @apply text-blue-avianca;
}

.view-container {
  max-height: 100dvh;
  @apply w-full rounded-4xl py-5;
}

.view-container h2 {
  @apply text-4xl md:text-7xl text-center mb-5
}

.header-container {
  background-image: url("../src/assets/mobile/header.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 80dvh;
  max-height: 90dvh;

  @apply w-full m-5 rounded-2xl md:rounded-4xl text-white flex p-5;
}

.header-container h1 {
  @apply leading-8 md:leading-16 text-3xl md:text-7xl;
}

.header-container h3 {
  @apply leading-4 md:leading-6 text-start text-sm md:text-2xl;
}

.header-container p {
  @apply leading-4 md:leading-5 text-start text-[0.6rem] md:text-[1rem] text-white/70 md:text-white;
}

.header-container button {
  font-family: "P22Mackinac";
  @apply leading-5 text-start text-primary bg-secondary w-fit p-1 md:p-5 md:text-4xl rounded-sm md:rounded-xl cursor-pointer;
}

@media (min-width: 768px) {
  .header-container {
    background-image: url("../src/assets/header.png");
  }

  .expectativa h1 {
    font-size: 3rem;
  }

  .expectativa p {
    font-size: 1.5rem;
  }

  .expectativa .ventanasCerradas {
    width: 40rem;
    height: 16rem;
    background-image: url("../src/assets/ventanasCerradas.png");
  }

  .precarga h1 {
    font-size: 3.5rem;
  }

  .precarga p {
    font-size: 1.5rem;
  }

  .precarga .ventanasCerradas {
    width: 40rem;
    height: 16rem;
    background-image: url("../src/assets/VentanasAbiertas.png");
  }
}

/* Contenedor principal del carrusel */
.event-carousel {
  height: 50dvh; /* Altura del carrusel */
  width: 100%;
  padding: 2rem 0;
}

.event-carousel button {
  font-family: "Selecta";
}

/* Estilo de cada tarjeta (slide) */
.event-carousel .swiper-slide {
  width: 65%; /* Ancho de la tarjeta activa */
  height: 100%; /* Altura de la tarjeta activa */
  transition: opacity 0.3s ease;
}

/* Hacer que las tarjetas inactivas (laterales) sean un poco más opacas */
.event-carousel .swiper-slide:not(.swiper-slide-active) {
  opacity: 0.5;
}

/* --- Flechas de Navegación Personalizadas --- */
.swiper-button-prev,
.swiper-button-next {
  background-color: rgba(255, 255, 255, 0.3); /* Fondo semitransparente */
  padding: 0.8rem;
  color: white;
  width: 3rem; /* 40px */
  height: 3rem; /* 40px */
  border-radius: 10px; /* Círculo completo */
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 1s ease;
  position: absolute;
}

/* Ocultar las flechas por defecto de Swiper */
.swiper-button-prev::after,
.swiper-button-next::after {
  content: "";
}

.swiper-button-prev:hover,
.swiper-button-next:hover {
  background-color: rgba(0, 0, 0, 0.5);
}

/* Posición de las flechas (Swiper las controla con `absolute`) */
.swiper-button-prev {
  left: -5%; /* Ajusta para que sobresalgan un poco */
}
.swiper-button-next {
  right: -5%; /* Ajusta para que sobresalgan un poco */
}

/* --- Barra de Progreso Personalizada --- */
.swiper-pagination.swiper-pagination-progressbar {
  background: rgba(0, 0, 0, 0.25);
  position: absolute;
  bottom: 0 !important;
  left: 50%;
  transform: translateX(-50%);
  width: 100% !important;
  max-width: 70%;
}

.swiper-pagination-progressbar .swiper-pagination-progressbar-fill {
  background: white; /* Color de la barra de progreso activa */
}
