@import "tailwindcss";

@font-face {
  font-family: "P22Mackinac";
  src: url("../src/fonts/P22Mackinac-Book.otf") format("opentype");
  font-weight: 400; /* Regular */
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "P22Mackinac";
  src: url("../src/fonts/P22Mackinac-Medium.otf") format("opentype");
  font-weight: 500; /* Medium */
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "RedHatDisplay";
  src: url("../src/fonts/RedHatDisplay-Regular.ttf") format("truetype");
  font-weight: 400; /* Regular */
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "RedHatDisplay";
  src: url("../src/fonts/RedHatDisplay-Bold.ttf") format("truetype");
  font-weight: 700; /* Bold */
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "RedHatDisplay";
  src: url("../src/fonts/RedHatDisplay-Black.ttf") format("truetype");
  font-weight: 900; /* Black */
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Selecta";
  src: url("../src/fonts/Selecta-Light.otf") format("opentype");
  font-weight: 300; /* Light */
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Selecta";
  src: url("../src/fonts/Selecta-Regular_2.ttf") format("truetype");
  font-weight: 400; /* Regular */
  font-style: normal;
  font-display: swap;
}

@theme {
  --color-primary: #5e0000;
  --color-secondary: #cdbeb0;
  --color-blue-avianca: #031a22;

  --font-sans: "RedHatDisplay", ui-sans-serif, system-ui, -apple-system,
    BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans",
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
    "Noto Color Emoji";
}

@layer base {
  html {
    @apply font-sans antialiased;
  }
  /* Añade esto para asegurar que el texto normal tenga el peso correcto */
  body {
    @apply font-normal;
  }

  h1 {
    font-family: "P22Mackinac";
  }
}

.page {
  @apply flex flex-col  w-full items-center bg-primary;
  min-height: 100dvh;
}

.expectativa p {
  font-size: 1rem;
}

.expectativa h1 {
  font-size: 2.5rem;
  line-height: 2.5rem;
}

.expectativa .ventanasCerradas {
  width: 50rem;
  height: 15rem;
  background-image: url("../src/assets/ventanaSola.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

@media (min-width: 768px) {
  .expectativa p {
    font-size: 1.5rem;
  }

  .expectativa h1 {
    font-size: 3.5rem;
  }
  .expectativa .ventanasCerradas {
    width: 40rem;
    height: 16rem;
    background-image: url("../src/assets/ventanasCerradas.png");
  }
}
